*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div{
  width: 100%;
  background: #252A4C;
  padding: 100px;
}
.content_area{
  width: 60%;
  margin: auto;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}
.content_area h1{
  text-align: center;
  position: relative;
}
.content_area h1::after{
  content: "";
  width: 100px;
  height: 5px;
  background: #726AFF;
  bottom: -10px;
  right: 43%;
  position: absolute;
}
.name_area{
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}
.inner_content input{
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #F3F0FF;
}
.inner_content input:nth-child(2){
  margin-right: 0;
}
.inner_content input{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.inner_content textarea{
  width: 100%;
  background: #F3F0FF;
  margin-bottom: 10px;
}
.inner_content div:nth-child(4){
  width: 20%;
}
.submit input{
  background: #726AFF;
  border: none;
  border: 1px solid #726AFF;
}
.submit input:hover{
  background: #F3F0FF;
  color: #726AFF;
  transition: .3s ease-out;
  border: 1px solid #726AFF;
}